body
  margin 0
  padding 0
  font-family 'Inknut Antiqua'
header
  text-align center
  background: #283048
  background: -webkit-linear-gradient(to right, #859398, #283048)
  background: linear-gradient(to right, #859398, #283048)


  margin 0
  // background-image url("wallpaperBG.jpg")
  background-position center
  background-size cover

  img
    width 200px
    float left
  h1
    color #222222
    margin 0
    font-size 47px
    padding 50px
    animation-duration 1s
    animation-name slidein
  @keyframes slidein
    from{
      margin-left 300%
      width 300%
    }
    to{
      margin-left 0%
      width 100%
    }
nav
  background: #000000
  background: -webkit-linear-gradient(to right, #434343, #000000) 
  background: linear-gradient(to right, #434343, #000000)

ul
  display flex
  justify-content space-around
  li
    padding 10px
    list-style none
    a
      text-decoration none
      color #FFFFFF
      padding 0 10px
      border-radius 4px
    a:hover
      background #FFFFFF
      color #1C5D99
.content
  display flex
  justify-content space-around
  color #2f2f2f
section
  margin 80px
  ul
    display block
    a
      color #2f2f2f
footer
  font-size 1rem
  background: #000000
  background: -webkit-linear-gradient(to right, #434343, #000000) 
  background: linear-gradient(to right, #434343, #000000)
  color #FFFFFF
  display flex
  .about
    margin 0 auto
    vertical-align top
    ul
      flex-direction column
      li
        font-size .8rem

@media(max-width 500px)
  .content
    display flex
    flex-flow column
