.bg-custom {
  background-color: linear-gradient(#5A3F37, #2C7744);
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.7rem;
}

.content {
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
  padding-top: 5%;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.jumbotron {
  text-align: center;
  background: url("bg-paper.jpg");
  background-size: cover;
  font-family: 'Averia Serif Libre', cursive;
}

.style7 {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.style7:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr {
  margin-right: 10%;
  margin-left: 10%;
}

html {
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

body {
  min-height: 100%;
  background: url(bg-wood.jpg);
  background-size: cover;
  color: #FFFAF0;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 1.3rem;
}
footer{
  color: black;
  text-shadow: none;
  background-color: #FFEFD5;
}
