html{
  height: 100%;
}
body{
background: #F0F8FF;
min-height: 100%;
}
h1{
}

.maindoc{
  background: url("http://source.unsplash.com/3uqauucYhjQ/");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Rock Salt', cursive;  
}
.container{
  padding-top: 20%;
  padding-left: 20%;
}
  #content{
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
           0px 8px 13px rgba(0,0,0,0.1),
           0px 18px 23px rgba(0,0,0,0.1);
         }
}

.bigthree img{
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
}
.style8 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}