align-section()
    background-size cover
    background-attachment fixed
    display flex
    flex-flow column
    justify-content center
    align-items center
red = #AC2929
link-content()
    align-section()
    flex-flow row
    height 500px
    h2
        margin-left 70px
        align-self flex-center
        font-size 70px
        color red
    img
        align-self center
        width 900px 
        border-radius 15px
        margin 30px
        height 357px

body, html
    margin 0
    padding 0
    height 100%
    width 100%
    font-family 'Neucha', cursive
    background #2f2f2f
.top
    background url('../images/code.jpg')
    height 858px
    align-section() 
    font-size 100px
    color white
    h1
        margin 0
.second
    link-content()
    height 200px
.third 
    margin 0
    background url('../images/chess.jpg')
    align-section() 
    position justify
    height 765px
    color white
    font-size 100px
.fourth
    align-section()
    flex-flow row
    height 580px
    h2
        margin-left 70px
        align-self flex-center
        font-size 80px
        color red
    img
        align-self center
        width 900px 
        border-radius 15px
        margin 30px
.fifth
    background url('../images/projects.jpg')
    align-section()
    height 723px
    font-size 100px
    color white
.sixth
    link-content()
.seventh
    link-content()
    h2
        order 2
    img
        order -1
.eighth
    link-content()
.ninth
    background url('../images/aboutimg.jpeg')
    align-section()
    height 723px
    font-size 100px
    color white
.tenth
    link-content()
.eleventh
    link-content()
    h2
        order 2
    img
        order -1
@media(max-width 700px)
    body *
        font-size 50px
        width 300px
        text-align center!important
        margin 0 auto!important
        display block!important
        img
            width 100%!important
            margin 0 auto!important
            height 250px!important

