body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Neucha', cursive;
  background: #2f2f2f;
}
.top {
  background: url("../images/code.jpg");
  height: 858px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
}
.top h1 {
  margin: 0;
}
.second {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 500px;
  height: 200px;
}
.second h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 70px;
  color: #ac2929;
}
.second img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
  height: 357px;
}
.third {
  margin: 0;
  background: url("../images/chess.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: justify;
  height: 765px;
  color: #fff;
  font-size: 100px;
}
.fourth {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 580px;
}
.fourth h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 80px;
  color: #ac2929;
}
.fourth img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
}
.fifth {
  background: url("../images/projects.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 723px;
  font-size: 100px;
  color: #fff;
}
.sixth {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 500px;
}
.sixth h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 70px;
  color: #ac2929;
}
.sixth img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
  height: 357px;
}
.seventh {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 500px;
}
.seventh h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 70px;
  color: #ac2929;
}
.seventh img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
  height: 357px;
}
.seventh h2 {
  order: 2;
}
.seventh img {
  order: -1;
}
.eighth {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 500px;
}
.eighth h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 70px;
  color: #ac2929;
}
.eighth img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
  height: 357px;
}
.ninth {
  background: url("../images/aboutimg.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 723px;
  font-size: 100px;
  color: #fff;
}
.tenth {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 500px;
}
.tenth h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 70px;
  color: #ac2929;
}
.tenth img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
  height: 357px;
}
.eleventh {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 500px;
}
.eleventh h2 {
  margin-left: 70px;
  align-self: flex-center;
  font-size: 70px;
  color: #ac2929;
}
.eleventh img {
  align-self: center;
  width: 900px;
  border-radius: 15px;
  margin: 30px;
  height: 357px;
}
.eleventh h2 {
  order: 2;
}
.eleventh img {
  order: -1;
}
@media (max-width: 700px) {
  body * {
    font-size: 50px;
    width: 300px;
    text-align: center !important;
    margin: 0 auto !important;
    display: block !important;
  }
  body * img {
    width: 100% !important;
    margin: 0 auto !important;
    height: 250px !important;
  }
}
